[submodule "Production-Ready-MlOps-Gem-Stone-Machine-learning-Project"]
	path = Production-Ready-MlOps-Gem-Stone-Machine-learning-Project
	url = https://github.com/shaheennabi/Production-Ready-MlOps-Gem-Stone-Machine-learning-Project
